body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#servicos {
    background-color: #fff;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.servicos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.servico {
    width: 30%;
    margin: 1em;
    padding: 1em;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servico img {
    width: 30%;
    height: auto;
    margin: 1em;
}

#contato {
    background-color: #fff;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
